@font-face {
  font-family: "Lab Grotesque";
  src: url("../fonts/LabGrotesque-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Lab Grotesque";
  src: url("../fonts/LabGrotesque-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Lab Grotesque";
  src: url("../fonts/LabGrotesque-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Scania Sans CY Headline";
  src: url("../fonts/ScaniaSans/ScaniaSansCYHeadline-Regular.woff2")
    format("woff2");
  font-weight: 400;
}
