@import "./fonts.scss";
@import "./variables.scss";
@import "./header.scss";

* {
  font-family: "Lab Grotesque";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  color: #fff;
  background-color: $gray;
  // background-image: url("../images/main-bg.png");
  // background-size: cover;
  // background-position: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

ul li {
  list-style-type: none;
}

.container {
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-size: $fz-average;
  line-height: 70px;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  color: #fff;
}

.tel {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(253, 153, 103, 1) 4%,
    rgba(255, 207, 122, 1) 83%
  );
  border-radius: 2px;
}

.title {
  text-transform: uppercase;
  color: #fff;
  font-size: $fz-big;
  font-weight: 250;
  line-height: 60px;
  letter-spacing: 0.07em;
  background: linear-gradient(
    233.62deg,
    #ffffff 28.79%,
    rgba(255, 255, 255, 0) 113.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subtitle {
  font-size: $fz-average;
  line-height: 33px;
  letter-spacing: 0.03em;
  font-weight: 300;
}

.banner {
  padding-bottom: 121px;
  background-image: url("../images/banner-img.png");
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 201.18px;
    height: 87.88px;
    right: 20%;
    top: 15%;

    background: #ffcf7a;
    filter: blur(50px);
    border-radius: 500px;
    transform: rotate(161.87deg);
    z-index: -1;
    opacity: 0.3;
  }
}

.banner__img {
  display: none;
}

.banner__title {
  font-size: $fz-extra-big;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: $main-ls;
  text-transform: uppercase;
  background: linear-gradient(
    190.43deg,
    #ffffff 49.37%,
    rgba(255, 255, 255, 0) 99.78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  max-width: 780px;
  width: 100%;
}

.banner__price {
  color: $yellow;
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: $main-ls;
  margin-top: 30px;

  span {
    font-size: 18px;
  }
}

.banner__list {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 85px;
}

.banner__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120px;
  width: 100%;
  gap: 15px;
}

.banner__item-text {
  text-align: center;
}

.banner-text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.advantages {
  padding-top: 121px;
  padding-bottom: 155px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 550px;
    background: #392924;
    filter: blur(150px);
    border-radius: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    background: rgba(245, 157, 93, 0.45);
    filter: blur(120px);
    border-radius: 300px;
    transform: rotate(135deg) translate(-27%, 70%);
  }
}

.advantages__img {
  width: 100%;
}

.advantages__title {
  text-align: center;
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}

.advantages__subtitle {
  text-align: center;
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}

.advantages__img {
  margin: 0 auto;
  width: 100%;
}

.advantages__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.advantages__item {
  display: flex;
  align-items: center;
  gap: 35px;
}

.advantages__item-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  max-width: 176px;
  width: 100%;
}

.refill {
  position: relative;
  padding: 150px 0;
}

.refill__text {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 300;
  line-height: 33px;
  max-width: 370px;
  width: 100%;
}

.refill__footer {
  max-width: 235px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}

.refill__manual {
  display: flex;
  align-items: center;
  gap: 17px;
}

.refill__manual-line {
  width: 31px;
  height: 1px;
  background-color: $gray-light;
}

.refill__footer-text {
  margin-top: 20px;
  font-size: 14;
  font-weight: 400;
  line-height: 24px;
}

.refill__img-wrapper {
  position: absolute;
  right: 150px;
  top: 50%;
  transform: translateY(-50%);
}

.refill__img {
  position: relative;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 269px;
    height: 385px;
    right: 200px;
    top: 20%;
    background: rgba(201, 115, 53, 0.45);
    filter: blur(75px);
    border-radius: 300px;
    transform: matrix(0.31, -0.95, -0.95, -0.31, 0, 0);
  }

  &::after {
    content: "";
    position: absolute;
    width: 335px;
    height: 420px;
    top: 100px;
    right: 100px;
    background: rgba(175, 152, 112, 0.34);
    filter: blur(75px);
    border-radius: 300px;
    transform: matrix(0.92, 0.39, 0.39, -0.92, 0, 0);
  }
}

.smart {
  padding-top: 40px;
  padding-bottom: 20px;
}
.smart__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.smart__subtitle {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
.smart__img {
  width: 100%;
  margin-top: -80px;
  z-index: -1;
  position: relative;
}

.info {
  padding: 40px 0;
}
.info__wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;

  &.center {
    align-items: center;
  }

  &:not(:first-child) {
    margin-top: 30px;
  }
}

.info__wrapper:nth-child(2) {
  margin-top: 30px;
}
.info__item {
  max-width: 540px;
  width: 100%;
}
.info__wrapper-title {
  font-size: 24px;
  line-height: 40px;
}
.info__img-wrapper {
  position: relative;
}
.info__img-line {
  position: relative;
  max-width: 430px;
  width: 100%;
  height: 1px;
  background-color: $yellow;
  margin-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 55px;
    height: 1px;
    background-color: $yellow;
    transform: rotate(45deg);
    top: 20px;
    right: -47px;
  }
}

.info__text,
.info__img-text {
  font-size: 14px;
  line-height: 27px;
  margin-top: 25px;
}

.info__img-text {
  margin-bottom: 10px;
}

.info__img {
  max-width: 100%;
  width: 100%;
}

.info__item-lists {
  display: flex;
  align-items: flex-start;
  gap: 95px;
}
.info__list-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #757575;
}

.info__list-title:nth-child(3) {
  margin-top: 30px;
}

.info__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 30px;
}
.info__list-item {
  font-size: 14px;
  line-height: 27px;
}

.slider {
  max-width: 540px;
  height: auto;
}

.slider {
  position: relative;
  padding-bottom: 40px;
  margin: 0;
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 18px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-buttons-wrapper {
  width: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.swiper-button-prev {
  background-image: url("../images/arrow-left.svg");
  left: 0;
}

.swiper-button-next {
  background-image: url("../images/arrow-right.svg");
  right: 0;
}

.info__text.slider-text {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 35px;
  max-width: 350px;
  width: 100%;
}

.info__title.slider.slider-title {
  margin: 0;
}

.decision-slider {
  margin-top: 35px;
}

.info__catalog {
  margin-top: 100px;
  text-align: center;
}
.info__catalog-text {
  font-size: 30px;
  font-weight: 300;
  line-height: 44px;
}
.info__catalog-btn {
  max-width: 284px;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(249, 139, 77, 1) 4%,
    rgba(255, 217, 196, 1) 83%
  );
  outline: none;
  border: none;
  border-radius: 1px;
  font-size: 18px;
  font-weight: 500;
  color: $black;
  padding: 14px 50px;
  margin: 0 auto;
  margin-top: 35px;
  cursor: pointer;
}

.task {
  padding: 40px 0;
}

.task__title {
  text-align: center;
}

.task__list {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.task__item {
  max-width: 370px;
  width: 100%;
  height: auto;
  border-radius: 2px;
}
.about {
  padding: 40px 0;
}

.about__title {
  text-align: center;
  max-width: 1065px;
  width: 100%;
  margin: 0 auto;
}
.about__list {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.about__item {
  max-width: 370px;
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.author {
  padding: 40px 0;
}

.author__title {
  text-align: center;
}

.author__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  margin-top: 50px;
}
.author__block {
  max-width: 580px;
  width: 100%;
  
  &:first-child {
    max-width: 535px;
    width: 100%;
  }
}
.author__block-img {
  width: 100%;
  height: auto;
}
.author__list {
  display: flex;
  align-items: flex-start;
  gap: 190px;
  margin-top: 60px;
}
.author__item {
  display: flex;
  flex-direction: column;
}
.author__item-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0.135em;
  color: rgba(255, 255, 255, 0.5);
}
.author__item-text {
  font-size: 24px;
}
.author__item-color {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: $yellow;
}
.author__length {
  
}
.range__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.author__length-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 55px;
}
.author__length-range {
  max-width: 350px;
  width: 100%;
  position: relative;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: $yellow;
    height: 2px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    display: block;
    background: $yellow;
    top: 50%;
    cursor: pointer;
    margin-top: -14px;
  }
  
}

.facial__slider-wrapper {
  position: relative;
  width: max-content;
  padding: 0 35px;
  
  .swiper-button-next {
    right: 0;
    top: 70%;
  }
  .swiper-button-prev {
    left: 0;
    top: 70%;
  }
}

.facial__panel-slider {
  width: 250px;
}
.swiper-wrapper {
}
.swiper-slide {
}

@media (max-width: 1600px) {
  .refill__img-wrapper {
    right: 0;
  }
}

@media (max-width: 1220px) {
  .task__list,
  .about__list {
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .refill {
    padding: 25px 0;
  }

  .refill__img-wrapper {
    display: none;
  }

  .refill__inner {
    text-align: center;
  }

  .refill__title,
  .refill__text {
    margin: 0 auto;
  }

  .refill__manual {
    justify-content: center;
  }
}

@media (max-width: 1140px) {
  .info__wrapper {
    margin: 0 auto;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .banner {
    background-image: none;

    &::after {
      display: none;
    }
  }

  .banner__img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 850px) {
  .burger {
    display: flex;
  }

  .header__top {
    padding: 25px 0;
    position: relative;
  }

  .header__top-text {
    color: $white;
  }

  .tel {
    margin-right: 30px;
  }

  .menu {
    display: none;
    position: absolute;
    right: -15px;
    top: 100%;
    margin-right: 0;
    background-color: $gray;
    padding: 30px;
    border-radius: 10px 0 0 10px;
    z-index: 1000;

    transition: all 0.2s ease;

    &.active {
      display: block;
    }
  }

  .menu__list {
    flex-direction: column;
    text-align: right;
  }

  .menu__link {
    color: $white;
  }

  .banner {
    text-align: center;
  }

  .banner__title {
    font-size: $fz-big;
    margin: 0 auto;
  }

  .banner__price {
    margin-top: 30px;
  }

  .banner__list {
    margin-top: 30px;
    justify-content: center;
  }

  .advantages {
    padding: 25px 0;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .advantages__list {
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .refill {
    padding: 25px 0;
  }

  .smart {
    padding: 20px 0;
  }

  .smart__title {
    flex-direction: column;
    gap: 10px;
  }

  .smart__subtitle {
    margin-top: 10px;
  }

  .smart__img {
    margin-top: 10px;
  }

  .info {
    padding: 20px 0;
  }

  .info__catalog {
    margin-top: 50px;
  }

  .info__catalog-text {
    font-size: 24px;
  }

  .task,
  .about {
    padding: 25px 0;
  }
}

@media (max-width: 650px) {
  .subtitle {
    font-size: 15px;
  }

  .header__top-text {
    display: none;
  }

  .tel {
    margin-left: auto;
  }

  .title {
    font-size: 30px;
    line-height: 40px;
  }

  .banner {
    padding-bottom: 50px;
  }

  .banner__title {
    font-size: 30px;
    line-height: 40px;
  }

  .advantages__subtitle {
    margin-top: 5px;
  }

  .refill__text {
    margin-top: 5px;
  }

  .info__img-text {
    font-size: 14px;
    font-weight: 250;
    line-height: 18px;
  }

  .info__img-line {
    max-width: 75%;
  }
}
