$white: #fff;
$yellow: #FFCF7A;
$black: #121212;
$gray: #1B1B1A;
$gray-light: #949494;

$fz-extra-big: 64px;
$fz-big: 40px;
$fz-average: 20px;
$fz-small: 12px;

$main-transition: all 0.2s ease;

$main-ls: 0.05em;